In [1]:
dirct = r'D:\python_code\M5 Competition\A5_solution\walmart_M5_forecasting\source_data\\'

## Forecasting M5 data with timegpt

In [ ]:
import os
import pandas as pd
import numpy as np
import pdcast as pdc
import matplotlib.pyplot as plt
import gc
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import mean_absolute_error, mean_squared_error
import joblib

In [3]:
sales = pd.read_csv(dirct + 'sales_train_evaluation.csv')                             ## added
sales.name = 'sales'
calendar = pd.read_csv(dirct +'calendar.csv')
calendar.name = 'calendar'
prices = pd.read_csv(dirct +'sell_prices.csv')
prices.name = 'prices'

In [4]:
sales = pdc.downcast(sales)
calendar = pdc.downcast(calendar)
prices = pdc.downcast(prices)

In [5]:
df = pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name='d', value_name='sold').dropna()

In [10]:
sales_ad = np.round(df.memory_usage().sum()/(1024*1024),1)
sales_ad

1693.3

In [6]:
df = pdc.downcast(df)

In [7]:
sales_ad = np.round(df.memory_usage().sum()/(1024*1024),1)
sales_ad

np.float64(678.7)

In [12]:
df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0

In [8]:
all_df = pd.merge(df, calendar, on='d', how='left')
all_df = pd.merge(all_df, prices, on=['store_id','item_id','wm_yr_wk'], how='left')

In [9]:
sales_all_df = np.round(all_df.memory_usage().sum()/(1024*1024),1)
sales_all_df

np.float64(2879.8)

In [10]:
all_df = pdc.downcast(all_df)
sales_all_df = np.round(all_df.memory_usage().sum()/(1024*1024),1)
sales_all_df

np.float64(1807.6)

In [15]:
all_df.head(15)

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
5,HOBBIES_1_006_CA_1_validation,HOBBIES_1_006,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
6,HOBBIES_1_007_CA_1_validation,HOBBIES_1_007,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
7,HOBBIES_1_008_CA_1_validation,HOBBIES_1_008,HOBBIES_1,HOBBIES,CA_1,CA,d_1,12,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,0.46
8,HOBBIES_1_009_CA_1_validation,HOBBIES_1_009,HOBBIES_1,HOBBIES,CA_1,CA,d_1,2,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,1.56
9,HOBBIES_1_010_CA_1_validation,HOBBIES_1_010,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,3.17
10,HOBBIES_1_011_CA_1_validation,HOBBIES_1_011,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
11,HOBBIES_1_012_CA_1_validation,HOBBIES_1_012,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,5.98
12,HOBBIES_1_013_CA_1_validation,HOBBIES_1_013,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
13,HOBBIES_1_014_CA_1_validation,HOBBIES_1_014,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,NaN
14,HOBBIES_1_015_CA_1_validation,HOBBIES_1_015,HOBBIES_1,HOBBIES,CA_1,CA,d_1,4,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,False,False,False,0.70

In [17]:
all_df.dtypes

id              category
item_id         category
dept_id         category
cat_id          category
store_id        category
state_id        category
d               category
sold            category
date            category
wm_yr_wk          uint16
weekday         category
wday               uint8
month              uint8
year              uint16
event_name_1    category
event_type_1    category
event_name_2    category
event_type_2    category
snap_CA             bool
snap_TX             bool
snap_WI             bool
sell_price       float32
dtype: object

In [11]:
all_df['sell_price'].fillna('0', inplace=True)
all_df['sold'] = all_df['sold'].astype('uint8')
all_df['date'] = pd.to_datetime(all_df['date'])
all_df['snap_CA'] = all_df['snap_CA'].replace({True : 1, False :0})
all_df['snap_TX'] = all_df['snap_TX'].replace({True : 1, False :0})
all_df['snap_WI'] = all_df['snap_WI'].replace({True : 1, False :0})

In [12]:
col_to_drop = ['wm_yr_wk', 'weekday', 'wday', 'month', 'year', 'event_name_1', 'event_type_1','event_name_2', 'event_type_2']
all_dff = all_df.drop(columns = col_to_drop, axis= 1)

In [20]:
all_dff.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,date,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0

In [13]:
del df, sales, calendar, prices
gc.collect();

In [14]:
all_dff['date'] = all_dff['date'].astype({'date': 'datetime64[ns]'})

In [23]:
all_dff.dtypes

id                  category
item_id             category
dept_id             category
cat_id              category
store_id            category
state_id            category
d                   category
sold                   uint8
date          datetime64[ns]
snap_CA                int64
snap_TX                int64
snap_WI                int64
sell_price            object
dtype: object

In [15]:
all_dff.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d,sold,date,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1,0,2011-01-29,0,0,0,0

In [16]:
all_dff = all_dff.rename(columns={'id' : 'unique_id', 'date' : 'ds', 'sold' : 'y'})

In [17]:
valid_data = all_dff[all_dff['ds'] <= '2016-04-24']

In [18]:
test_data = all_dff[all_dff['ds'] > '2016-04-24']

In [19]:
test_data.tail()

,unique_id,item_id,dept_id,cat_id,store_id,state_id,d,y,ds,snap_CA,snap_TX,snap_WI,sell_price
59181085,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,d_1941,1,2016-05-22,0,0,0,2.98
59181086,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,d_1941,0,2016-05-22,0,0,0,2.48
59181087,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,d_1941,2,2016-05-22,0,0,0,3.98
59181088,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,d_1941,0,2016-05-22,0,0,0,1.28
59181089,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1941,1,2016-05-22,0,0,0,1.0

In [20]:
# Y_df = test_data[['unique_id', 'ds']]
# X_df = valid_data[['unique_id', 'ds', 'y']]
Y_df = test_data[['unique_id', 'ds', 'sell_price']]
X_df = valid_data[['unique_id', 'ds', 'y', 'sell_price']]

In [21]:
products = valid_data['unique_id'].unique()
item_unique = valid_data['item_id'].unique()

In [28]:
del nixtla_client

In [29]:
from nixtla import NixtlaClient
nixtla_client = NixtlaClient(
    # defaults to os.environ.get("NIXTLA_API_KEY")
    # api_key = 'nixak-heEAHtU6aEyKeYpKotwGZE9wbxgfHQ9MSlucNWLmTh76TVx1GsrdWvVi24euR5zvSXW2ZTerze09aAqS'
    api_key = 'nixak-YORsPPzkZobbCjcjcImu7aqf8RlEh4zJTuJvQjICS69flOqNno0KzgR7lfTHFy7PW4bX1Klr96P8e3jM'
)

In [ ]:
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display, clear_output
forecast_df = pd.DataFrame()
cnt = 0
for i in item_unique:
    clear_output(wait=True)
    display(f'forecast for={i} and count = {cnt}/{len(item_unique)}')
    product_id = [prod for prod in products if i in prod]
    Y_df_product = Y_df.query('unique_id in @product_id').reset_index(drop=True)
    X_df_product = X_df.query('unique_id in @product_id').reset_index(drop=True)
    timegpt_fcst_df = nixtla_client.forecast(df=X_df_product, X_df=Y_df_product, h=28)
    del Y_df_product, X_df_product
    forecast_df = pd.concat([forecast_df, timegpt_fcst_df], axis= 0)
    del timegpt_fcst_df
    cnt += 1

In [ ]:
forecast_df

                         unique_id         ds   TimeGPT
0    HOBBIES_1_001_CA_1_validation 2016-04-25  1.002105
1    HOBBIES_1_001_CA_1_validation 2016-04-26  0.816436
2    HOBBIES_1_001_CA_1_validation 2016-04-27  0.996266
3    HOBBIES_1_001_CA_1_validation 2016-04-28  3.261821
4    HOBBIES_1_001_CA_1_validation 2016-04-29  0.223436
..                             ...        ...       ...
275    FOODS_3_827_WI_3_validation 2016-05-18 -0.003714
276    FOODS_3_827_WI_3_validation 2016-05-19  0.033099
277    FOODS_3_827_WI_3_validation 2016-05-20  0.053299
278    FOODS_3_827_WI_3_validation 2016-05-21  0.042526
279    FOODS_3_827_WI_3_validation 2016-05-22  0.012151

[853720 rows x 3 columns]

In [ ]:
forecast_df.to_csv('/teamspace/studios/this_studio/M5_forecast_transform/ '+ 'forecast_df.csv')

In [39]:
result_df = pd.read_csv('/teamspace/studios/this_studio/M5_forecast_transform/ forecast_df.csv')
result_df['ds'] = result_df['ds'].astype({'ds': 'datetime64[ns]'})
result_merged = pd.merge(test_data,result_df, on =['unique_id', 'ds'], how = 'left')

In [34]:
result_merged.tail(10)

,unique_id,item_id,dept_id,cat_id,store_id,state_id,d,y,ds,snap_CA,snap_TX,snap_WI,sell_price,Unnamed: 0,TimeGPT
853710,FOODS_3_818_WI_3_validation,FOODS_3_818,FOODS_3,FOODS,WI_3,WI,d_1941,0,2016-05-22,0,0,0,2.98,279,1.633432
853711,FOODS_3_819_WI_3_validation,FOODS_3_819,FOODS_3,FOODS,WI_3,WI,d_1941,1,2016-05-22,0,0,0,1.98,279,2.212211
853712,FOODS_3_820_WI_3_validation,FOODS_3_820,FOODS_3,FOODS,WI_3,WI,d_1941,1,2016-05-22,0,0,0,1.98,279,1.739138
853713,FOODS_3_821_WI_3_validation,FOODS_3_821,FOODS_3,FOODS,WI_3,WI,d_1941,4,2016-05-22,0,0,0,4.98,279,0.319345
853714,FOODS_3_822_WI_3_validation,FOODS_3_822,FOODS_3,FOODS,WI_3,WI,d_1941,4,2016-05-22,0,0,0,3.98,279,1.330655
853715,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,d_1941,1,2016-05-22,0,0,0,2.98,279,1.286978
853716,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,d_1941,0,2016-05-22,0,0,0,2.48,279,-0.005350
853717,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,d_1941,2,2016-05-22,0,0,0,3.98,279,0.155723
853718,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,d_1941,0,2016-05-22,0,0,0,1.28,279,3.781892
853719,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1941,1,2016-05-22,0,0,0,1.0,279,0.012151

In [40]:

mse = mean_squared_error(result_merged['y'],result_merged['TimeGPT'])
rmse = np.sqrt(mse)
rmse

2.928472018480222

## Forecast with finetuning

In [52]:
import warnings
warnings.filterwarnings('ignore')
from IPython.display import display, clear_output
forecast_df_tune = pd.DataFrame()
cnt = 0
for i in item_unique:
    clear_output(wait=True)
    display(f'forecast for={i} and count = {cnt}/{len(item_unique)}')
    product_id = [prod for prod in products if i in prod]
    Y_df_product = Y_df.query('unique_id in @product_id').reset_index(drop=True)
    X_df_product = X_df.query('unique_id in @product_id').reset_index(drop=True)
    timegpt_fcst_df = nixtla_client.forecast(df=X_df_product, X_df=Y_df_product, h=28, finetune_steps=20, finetune_loss='mse')
    timegpt_fcst_df['ds'] = timegpt_fcst_df['ds'].astype({'ds': 'datetime64[ns]'})
    del Y_df_product, X_df_product
    forecast_df_tune = pd.concat([forecast_df_tune, timegpt_fcst_df], axis= 0)
    del timegpt_fcst_df
    cnt += 1

'forecast for=FOODS_3_827 and count = 3048/3049'

INFO:nixtla.nixtla_client:Validating inputs...
INFO:nixtla.nixtla_client:Inferred freq: D
WARNING:nixtla.nixtla_client:The specified horizon "h" exceeds the model horizon. This may lead to less accurate forecasts. Please consider using a smaller horizon.
INFO:nixtla.nixtla_client:Preprocessing dataframes...
INFO:nixtla.nixtla_client:Using future exogenous features: ['sell_price']
INFO:nixtla.nixtla_client:Calling Forecast Endpoint...

In [53]:
forecast_df_tune.to_csv('/teamspace/studios/this_studio/M5_forecast_transform/ '+ 'forecast_df_tune.csv')

In [41]:
result_df_tune = pd.read_csv('/teamspace/studios/this_studio/M5_forecast_transform/ forecast_df_tune.csv')
result_df_tune['ds'] = result_df_tune['ds'].astype({'ds': 'datetime64[ns]'})
result_df_tune =result_df_tune.rename(columns={'TimeGPT' : 'TimeGPT_tuned'})
result_merged = pd.merge(result_merged,result_df_tune, on =['unique_id', 'ds'], how = 'left')

In [42]:
result_merged

,unique_id,item_id,dept_id,cat_id,store_id,state_id,d,y,ds,snap_CA,snap_TX,snap_WI,sell_price,Unnamed: 0_x,TimeGPT,Unnamed: 0_y,TimeGPT_tuned
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,d_1914,0,2016-04-25,0,0,0,8.38,0,1.002105,0,1.118997
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,d_1914,0,2016-04-25,0,0,0,3.97,0,0.056296,0,0.070063
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,d_1914,0,2016-04-25,0,0,0,2.97,0,0.789659,0,0.952281
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,d_1914,0,2016-04-25,0,0,0,4.64,0,4.122213,0,4.289038
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,d_1914,1,2016-04-25,0,0,0,2.88,0,0.776485,0,0.697849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853715,FOODS_3_823_WI_3_validation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,d_1941,1,2016-05-22,0,0,0,2.98,279,1.286978,279,1.946328
853716,FOODS_3_824_WI_3_validation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,d_1941,0,2016-05-22,0,0,0,2.48,279,-0.005350,279,0.173805
853717,FOODS_3_825_WI_3_validation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,d_1941,2,2016-05-22,0,0,0,3.98,279,0.155723,279,0.557899
853718,FOODS_3_826_WI_3_validation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,d_1941,0,2016-05-22,0,0,0,1.28,279,3.781892,279,3.676162
853719,FOODS_3_827_WI_3_validation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,d_1941,1,2016-05-22,0,0,0,1.0,279,0.012151,279,0.382532

In [53]:
mse_tuned = mean_squared_error(result_merged['y'],result_merged['TimeGPT_tuned'])
rmse_tuned = np.sqrt(mse_tuned)
rmse_tuned

3.0897435672140365

In [54]:
result_merged.to_csv('/teamspace/studios/this_studio/M5_forecast_transform/ '+ 'results_tgpt.csv')

In [61]:
reshaped_actual = result_merged[['unique_id', 'ds', 'y']].pivot(index='unique_id', columns='ds')
reshaped_actual

                                         y                                   \
ds                              2016-04-25 2016-04-26 2016-04-27 2016-04-28
unique_id
FOODS_1_001_CA_1_validation              2          0          0          0
FOODS_1_001_CA_2_validation              0          3          0          0
FOODS_1_001_CA_3_validation              1          0          1          0
FOODS_1_001_CA_4_validation              0          1          0          0
FOODS_1_001_TX_1_validation              0          0          1          0
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation          0          0          0          0
HOUSEHOLD_2_516_TX_3_validation          0          0          0          0
HOUSEHOLD_2_516_WI_1_validation          1          0          0          1
HOUSEHOLD_2_516_WI_2_validation          0          0          0          0
HOUSEHOLD_2_516_WI_3_validation          0          0          0          0

                                                                             \
ds                              2016-04-29 2016-04-30 2016-05-01 2016-05-02
unique_id
FOODS_1_001_CA_1_validation              0          1          1          0
FOODS_1_001_CA_2_validation              0          1          4          0
FOODS_1_001_CA_3_validation              8          1          0          0
FOODS_1_001_CA_4_validation              0          0          1          0
FOODS_1_001_TX_1_validation              1          0          1          1
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation          0          0          0          1
HOUSEHOLD_2_516_TX_3_validation          0          0          1          0
HOUSEHOLD_2_516_WI_1_validation          0          0          0          0
HOUSEHOLD_2_516_WI_2_validation          0          0          0          0
HOUSEHOLD_2_516_WI_3_validation          1          0          0          0

                                                       ...             \
ds                              2016-05-03 2016-05-04  ... 2016-05-13
unique_id                                              ...
FOODS_1_001_CA_1_validation              6          1  ...          2
FOODS_1_001_CA_2_validation              0          0  ...          1
FOODS_1_001_CA_3_validation              1          0  ...          1
FOODS_1_001_CA_4_validation              0          0  ...          1
FOODS_1_001_TX_1_validation              1          1  ...          1
...                                    ...        ...  ...        ...
HOUSEHOLD_2_516_TX_2_validation          0          0  ...          0
HOUSEHOLD_2_516_TX_3_validation          0          0  ...          0
HOUSEHOLD_2_516_WI_1_validation          0          0  ...          0
HOUSEHOLD_2_516_WI_2_validation          0          0  ...          0
HOUSEHOLD_2_516_WI_3_validation          0          0  ...          0

                                                                             \
ds                              2016-05-14 2016-05-15 2016-05-16 2016-05-17
unique_id
FOODS_1_001_CA_1_validation              3          1          0          0
FOODS_1_001_CA_2_validation              0          0          1          1
FOODS_1_001_CA_3_validation              2          2          0          0
FOODS_1_001_CA_4_validation              0          0          0          0
FOODS_1_001_TX_1_validation              1          1          1          5
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation          0          0          1          0
HOUSEHOLD_2_516_TX_3_validation          1          0          0          0
HOUSEHOLD_2_516_WI_1_validation          0          0          0          0
HOUSEHOLD_2_516_WI_2_validation          0          1          1          0
HOUSEHOLD_2_516_WI_3_validation          1          0          0          0

                                                                             \
ds                              2016-05-18 2016-05-19 2016-05-20 2016-05-21
unique_id
FOODS_1_001_CA_1_validation              0          1          0          0
FOODS_1_001_CA_2_validation              0          0          1          2
FOODS_1_001_CA_3_validation              1          0          3          2
FOODS_1_001_CA_4_validation              1          1          0          0
FOODS_1_001_TX_1_validation              0          2          2          0
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation          0          0          0          0
HOUSEHOLD_2_516_TX_3_validation          0          0          1          1
HOUSEHOLD_2_516_WI_1_validation          0          0          1          0
HOUSEHOLD_2_516_WI_2_validation          0          0          0          0
HOUSEHOLD_2_516_WI_3_validation          0          0          0          0


ds                              2016-05-22
unique_id
FOODS_1_001_CA_1_validation              0
FOODS_1_001_CA_2_validation              0
FOODS_1_001_CA_3_validation              2
FOODS_1_001_CA_4_validation              0
FOODS_1_001_TX_1_validation              2
...                                    ...
HOUSEHOLD_2_516_TX_2_validation          1
HOUSEHOLD_2_516_TX_3_validation          2
HOUSEHOLD_2_516_WI_1_validation          0
HOUSEHOLD_2_516_WI_2_validation          0
HOUSEHOLD_2_516_WI_3_validation          0

[30490 rows x 28 columns]

In [62]:
reshaped_tgpt = result_merged[['unique_id', 'ds', 'TimeGPT']].pivot(index='unique_id', columns='ds')
reshaped_tgpt

                                   TimeGPT                                   \
ds                              2016-04-25 2016-04-26 2016-04-27 2016-04-28
unique_id
FOODS_1_001_CA_1_validation       4.188864   1.101439   1.051289   0.062036
FOODS_1_001_CA_2_validation      -1.744976   0.516813   1.469142   4.735885
FOODS_1_001_CA_3_validation      -2.145786  -0.951659  -0.272333  -0.123955
FOODS_1_001_CA_4_validation       2.530016   0.408543   0.322462   0.404282
FOODS_1_001_TX_1_validation       0.005403  -0.002735   0.020219   0.022061
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.237997  -0.158462   0.867859  -0.142076
HOUSEHOLD_2_516_TX_3_validation  -0.013072  -0.023749  -0.012688   0.021107
HOUSEHOLD_2_516_WI_1_validation  -0.020715  -0.019155   0.003642  -0.019717
HOUSEHOLD_2_516_WI_2_validation   0.021265   0.030340   0.029771   1.030464
HOUSEHOLD_2_516_WI_3_validation   0.013395   0.018532   0.024889   0.024827

                                                                             \
ds                              2016-04-29 2016-04-30 2016-05-01 2016-05-02
unique_id
FOODS_1_001_CA_1_validation       1.047336   1.114127   0.208210   4.247610
FOODS_1_001_CA_2_validation       0.402654  -0.044826   3.285220  -0.241580
FOODS_1_001_CA_3_validation      -0.722902  -0.492950  -1.483300  -0.885745
FOODS_1_001_CA_4_validation       1.538529   1.513933   1.499700   2.403478
FOODS_1_001_TX_1_validation      -0.047852   0.032913   0.101920   0.034062
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.177258  -0.204932  -0.214298  -0.157164
HOUSEHOLD_2_516_TX_3_validation   0.045726   0.037848   0.056722   0.007334
HOUSEHOLD_2_516_WI_1_validation  -0.081177  -0.044081   0.018991   0.011248
HOUSEHOLD_2_516_WI_2_validation   0.015791   0.014914   0.022348   0.033846
HOUSEHOLD_2_516_WI_3_validation   0.027133   0.031812   0.033914   0.031694

                                                       ...             \
ds                              2016-05-03 2016-05-04  ... 2016-05-13
unique_id                                              ...
FOODS_1_001_CA_1_validation       1.229132   1.222637  ...   1.186398
FOODS_1_001_CA_2_validation       1.657574   2.305141  ...   1.731278
FOODS_1_001_CA_3_validation      -0.110297   0.259963  ...   0.798749
FOODS_1_001_CA_4_validation       0.372202   0.384330  ...   1.627360
FOODS_1_001_TX_1_validation      -0.018746   0.038943  ...   0.109039
...                                    ...        ...  ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.148557   0.865885  ...  -0.054000
HOUSEHOLD_2_516_TX_3_validation  -0.080481  -0.061884  ...   0.330677
HOUSEHOLD_2_516_WI_1_validation   0.020402   0.035481  ...  -0.031650
HOUSEHOLD_2_516_WI_2_validation   0.035425   0.035799  ...   0.030617
HOUSEHOLD_2_516_WI_3_validation   0.028670   0.026359  ...   0.016805

                                                                             \
ds                              2016-05-14 2016-05-15 2016-05-16 2016-05-17
unique_id
FOODS_1_001_CA_1_validation       1.150209   0.145093   4.355937   1.326919
FOODS_1_001_CA_2_validation       0.945892   4.113892   0.452034   3.007895
FOODS_1_001_CA_3_validation       0.919527  -0.744455  -0.575432   1.414772
FOODS_1_001_CA_4_validation       1.643531   1.604146   2.542703   0.419319
FOODS_1_001_TX_1_validation       0.099390   0.104392   0.061074   0.007922
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.100601  -0.121947  -0.152099   0.014306
HOUSEHOLD_2_516_TX_3_validation   0.278144   0.288370   0.268094   0.216104
HOUSEHOLD_2_516_WI_1_validation   0.009706   0.083966   0.096468   0.090591
HOUSEHOLD_2_516_WI_2_validation   0.031345   0.043765   0.048342   0.058027
HOUSEHOLD_2_516_WI_3_validation   0.017029   0.016843   0.015789   0.015065

                                                                             \
ds                              2016-05-18 2016-05-19 2016-05-20 2016-05-21
unique_id
FOODS_1_001_CA_1_validation       1.244850   0.218932   1.210509   1.192395
FOODS_1_001_CA_2_validation       3.569354   6.615166   2.104334   1.112234
FOODS_1_001_CA_3_validation       1.675547   1.501948   1.139746   0.949058
FOODS_1_001_CA_4_validation       0.350286   0.457652   1.618547   1.648873
FOODS_1_001_TX_1_validation       0.043780   0.102742   0.109047   0.106211
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation   1.090142   0.068443   0.001651  -0.115249
HOUSEHOLD_2_516_TX_3_validation   0.227215   0.292659   0.297615   0.293753
HOUSEHOLD_2_516_WI_1_validation   0.081325   0.009651  -0.114805  -0.034581
HOUSEHOLD_2_516_WI_2_validation   0.054892   1.052021   0.047568   0.050943
HOUSEHOLD_2_516_WI_3_validation   0.014240   0.013860   0.013832   0.013792


ds                              2016-05-22
unique_id
FOODS_1_001_CA_1_validation       0.307280
FOODS_1_001_CA_2_validation       3.806780
FOODS_1_001_CA_3_validation      -1.662603
FOODS_1_001_CA_4_validation       1.617549
FOODS_1_001_TX_1_validation       0.100739
...                                    ...
HOUSEHOLD_2_516_TX_2_validation  -0.197147
HOUSEHOLD_2_516_TX_3_validation   0.290078
HOUSEHOLD_2_516_WI_1_validation   0.103081
HOUSEHOLD_2_516_WI_2_validation   0.058723
HOUSEHOLD_2_516_WI_3_validation   0.013910

[30490 rows x 28 columns]

In [63]:
reshaped_tgpt_tune = result_merged[['unique_id', 'ds', 'TimeGPT_tuned']].pivot(index='unique_id', columns='ds')
reshaped_tgpt_tune

                                TimeGPT_tuned                        \
ds                                 2016-04-25 2016-04-26 2016-04-27
unique_id
FOODS_1_001_CA_1_validation          4.193498   1.100602   1.039244
FOODS_1_001_CA_2_validation         -0.051792   1.933186   2.517542
FOODS_1_001_CA_3_validation         -0.189775   0.733637   1.092965
FOODS_1_001_CA_4_validation          2.377460   0.259273   0.192311
FOODS_1_001_TX_1_validation          0.003762  -0.011978  -0.008163
...                                       ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation     -0.112557  -0.053406   0.944550
HOUSEHOLD_2_516_TX_3_validation     -0.023438  -0.032224  -0.031071
HOUSEHOLD_2_516_WI_1_validation     -0.022864  -0.021751  -0.005488
HOUSEHOLD_2_516_WI_2_validation      0.003562   0.002366  -0.012163
HOUSEHOLD_2_516_WI_3_validation      0.023172   0.031228   0.033555

                                                                             \
ds                              2016-04-28 2016-04-29 2016-04-30 2016-05-01
unique_id
FOODS_1_001_CA_1_validation      -0.001018   1.016906   1.089315   0.155058
FOODS_1_001_CA_2_validation       5.510476   1.494959   1.268604   4.860507
FOODS_1_001_CA_3_validation       0.943146   0.554697   1.004722   0.249206
FOODS_1_001_CA_4_validation       0.243088   1.355808   1.323721   1.285020
FOODS_1_001_TX_1_validation      -0.032812  -0.075040  -0.004441   0.060302
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.070027  -0.084806  -0.088591  -0.092769
HOUSEHOLD_2_516_TX_3_validation  -0.009051   0.018726   0.006655   0.021602
HOUSEHOLD_2_516_WI_1_validation  -0.027280  -0.074483  -0.054315  -0.009033
HOUSEHOLD_2_516_WI_2_validation   0.974141  -0.026986  -0.023338  -0.015940
HOUSEHOLD_2_516_WI_3_validation   0.034601   0.039599   0.033494   0.025297

                                                                  ...  \
ds                              2016-05-02 2016-05-03 2016-05-04  ...
unique_id                                                         ...
FOODS_1_001_CA_1_validation       4.236225   1.209964   1.192036  ...
FOODS_1_001_CA_2_validation       0.634971   2.148197   2.471576  ...
FOODS_1_001_CA_3_validation       0.214148   0.673003   0.755460  ...
FOODS_1_001_CA_4_validation       2.267287   0.241478   0.251989  ...
FOODS_1_001_TX_1_validation      -0.001207  -0.060452  -0.017118  ...
...                                    ...        ...        ...  ...
HOUSEHOLD_2_516_TX_2_validation  -0.113236  -0.105720   0.898902  ...
HOUSEHOLD_2_516_TX_3_validation  -0.031012  -0.111570  -0.103669  ...
HOUSEHOLD_2_516_WI_1_validation  -0.018948  -0.010011  -0.005780  ...
HOUSEHOLD_2_516_WI_2_validation   0.007964   0.011477   0.009623  ...
HOUSEHOLD_2_516_WI_3_validation   0.017495   0.015738   0.014293  ...

                                                                             \
ds                              2016-05-13 2016-05-14 2016-05-15 2016-05-16
unique_id
FOODS_1_001_CA_1_validation       1.049494   1.013652   0.014506   4.282274
FOODS_1_001_CA_2_validation       1.798446   1.160702   4.631223   1.118783
FOODS_1_001_CA_3_validation       0.922231   1.203196  -0.233276   0.492335
FOODS_1_001_CA_4_validation       1.439246   1.451909   1.413622   2.412661
FOODS_1_001_TX_1_validation       0.060631   0.054137   0.058873   0.025518
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.053931  -0.097212  -0.117183  -0.148717
HOUSEHOLD_2_516_TX_3_validation   0.253546   0.208610   0.215818   0.212371
HOUSEHOLD_2_516_WI_1_validation  -0.084320  -0.048266   0.015192   0.031240
HOUSEHOLD_2_516_WI_2_validation   0.003905   0.000703   0.006552   0.019803
HOUSEHOLD_2_516_WI_3_validation   0.003825   0.002994   0.002131   0.001657

                                                                             \
ds                              2016-05-17 2016-05-18 2016-05-19 2016-05-20
unique_id
FOODS_1_001_CA_1_validation       1.252182   1.162662   0.106699   1.132134
FOODS_1_001_CA_2_validation       3.175264   3.404710   6.296920   2.007930
FOODS_1_001_CA_3_validation       2.009607   2.029566   1.687732   1.465277
FOODS_1_001_CA_4_validation       0.326799   0.299576   0.369575   1.475439
FOODS_1_001_TX_1_validation      -0.003314   0.008372   0.035626   0.040309
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.006835   1.045788   0.012483  -0.041149
HOUSEHOLD_2_516_TX_3_validation   0.184147   0.188653   0.228013   0.232444
HOUSEHOLD_2_516_WI_1_validation   0.025318   0.014627  -0.047358  -0.149147
HOUSEHOLD_2_516_WI_2_validation   0.029214   0.018685   1.010113   0.010496
HOUSEHOLD_2_516_WI_3_validation   0.001812   0.001826   0.001849   0.001761


ds                              2016-05-21 2016-05-22
unique_id
FOODS_1_001_CA_1_validation       1.124079   0.222468
FOODS_1_001_CA_2_validation       1.227873   4.385552
FOODS_1_001_CA_3_validation       1.429025  -0.750221
FOODS_1_001_CA_4_validation       1.498943   1.471077
FOODS_1_001_TX_1_validation       0.043854   0.044531
...                                    ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.149896  -0.217993
HOUSEHOLD_2_516_TX_3_validation   0.229430   0.225880
HOUSEHOLD_2_516_WI_1_validation  -0.090266   0.020414
HOUSEHOLD_2_516_WI_2_validation   0.010297   0.016238
HOUSEHOLD_2_516_WI_3_validation   0.000943   0.000692

[30490 rows x 28 columns]

In [65]:
all_result_merge = pd.concat([reshaped_actual, reshaped_tgpt, reshaped_tgpt_tune], axis = 1)
all_result_merge

                                         y                                   \
ds                              2016-04-25 2016-04-26 2016-04-27 2016-04-28
unique_id
FOODS_1_001_CA_1_validation              2          0          0          0
FOODS_1_001_CA_2_validation              0          3          0          0
FOODS_1_001_CA_3_validation              1          0          1          0
FOODS_1_001_CA_4_validation              0          1          0          0
FOODS_1_001_TX_1_validation              0          0          1          0
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation          0          0          0          0
HOUSEHOLD_2_516_TX_3_validation          0          0          0          0
HOUSEHOLD_2_516_WI_1_validation          1          0          0          1
HOUSEHOLD_2_516_WI_2_validation          0          0          0          0
HOUSEHOLD_2_516_WI_3_validation          0          0          0          0

                                                                             \
ds                              2016-04-29 2016-04-30 2016-05-01 2016-05-02
unique_id
FOODS_1_001_CA_1_validation              0          1          1          0
FOODS_1_001_CA_2_validation              0          1          4          0
FOODS_1_001_CA_3_validation              8          1          0          0
FOODS_1_001_CA_4_validation              0          0          1          0
FOODS_1_001_TX_1_validation              1          0          1          1
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation          0          0          0          1
HOUSEHOLD_2_516_TX_3_validation          0          0          1          0
HOUSEHOLD_2_516_WI_1_validation          0          0          0          0
HOUSEHOLD_2_516_WI_2_validation          0          0          0          0
HOUSEHOLD_2_516_WI_3_validation          1          0          0          0

                                                       ... TimeGPT_tuned  \
ds                              2016-05-03 2016-05-04  ...    2016-05-13
unique_id                                              ...
FOODS_1_001_CA_1_validation              6          1  ...      1.049494
FOODS_1_001_CA_2_validation              0          0  ...      1.798446
FOODS_1_001_CA_3_validation              1          0  ...      0.922231
FOODS_1_001_CA_4_validation              0          0  ...      1.439246
FOODS_1_001_TX_1_validation              1          1  ...      0.060631
...                                    ...        ...  ...           ...
HOUSEHOLD_2_516_TX_2_validation          0          0  ...     -0.053931
HOUSEHOLD_2_516_TX_3_validation          0          0  ...      0.253546
HOUSEHOLD_2_516_WI_1_validation          0          0  ...     -0.084320
HOUSEHOLD_2_516_WI_2_validation          0          0  ...      0.003905
HOUSEHOLD_2_516_WI_3_validation          0          0  ...      0.003825

                                                                             \
ds                              2016-05-14 2016-05-15 2016-05-16 2016-05-17
unique_id
FOODS_1_001_CA_1_validation       1.013652   0.014506   4.282274   1.252182
FOODS_1_001_CA_2_validation       1.160702   4.631223   1.118783   3.175264
FOODS_1_001_CA_3_validation       1.203196  -0.233276   0.492335   2.009607
FOODS_1_001_CA_4_validation       1.451909   1.413622   2.412661   0.326799
FOODS_1_001_TX_1_validation       0.054137   0.058873   0.025518  -0.003314
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation  -0.097212  -0.117183  -0.148717  -0.006835
HOUSEHOLD_2_516_TX_3_validation   0.208610   0.215818   0.212371   0.184147
HOUSEHOLD_2_516_WI_1_validation  -0.048266   0.015192   0.031240   0.025318
HOUSEHOLD_2_516_WI_2_validation   0.000703   0.006552   0.019803   0.029214
HOUSEHOLD_2_516_WI_3_validation   0.002994   0.002131   0.001657   0.001812

                                                                             \
ds                              2016-05-18 2016-05-19 2016-05-20 2016-05-21
unique_id
FOODS_1_001_CA_1_validation       1.162662   0.106699   1.132134   1.124079
FOODS_1_001_CA_2_validation       3.404710   6.296920   2.007930   1.227873
FOODS_1_001_CA_3_validation       2.029566   1.687732   1.465277   1.429025
FOODS_1_001_CA_4_validation       0.299576   0.369575   1.475439   1.498943
FOODS_1_001_TX_1_validation       0.008372   0.035626   0.040309   0.043854
...                                    ...        ...        ...        ...
HOUSEHOLD_2_516_TX_2_validation   1.045788   0.012483  -0.041149  -0.149896
HOUSEHOLD_2_516_TX_3_validation   0.188653   0.228013   0.232444   0.229430
HOUSEHOLD_2_516_WI_1_validation   0.014627  -0.047358  -0.149147  -0.090266
HOUSEHOLD_2_516_WI_2_validation   0.018685   1.010113   0.010496   0.010297
HOUSEHOLD_2_516_WI_3_validation   0.001826   0.001849   0.001761   0.000943


ds                              2016-05-22
unique_id
FOODS_1_001_CA_1_validation       0.222468
FOODS_1_001_CA_2_validation       4.385552
FOODS_1_001_CA_3_validation      -0.750221
FOODS_1_001_CA_4_validation       1.471077
FOODS_1_001_TX_1_validation       0.044531
...                                    ...
HOUSEHOLD_2_516_TX_2_validation  -0.217993
HOUSEHOLD_2_516_TX_3_validation   0.225880
HOUSEHOLD_2_516_WI_1_validation   0.020414
HOUSEHOLD_2_516_WI_2_validation   0.016238
HOUSEHOLD_2_516_WI_3_validation   0.000692

[30490 rows x 84 columns]

In [66]:
all_result_merge.to_csv('/teamspace/studios/this_studio/M5_forecast_transform/ '+ 'all_results_merged.csv')